{% extends "carros/base.html" %}

{% block content %}

<div class="card">

    <h1>Agregar característica</h1>

    <p>
        <strong>{{ carro.carro_text }}</strong>
    </p>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn">
            Guardar característica
        </button>

        <a href="{% url 'carros:detail' carro.id %}" class="btn btn-secondary">
            Cancelar
        </a>
    </form>

</div>

{% endblock %}